.project-control label {
    color: #f3b8b8;
    font-weight: bold;
    color: black;
    padding-bottom: 0px;
}

.project-control h2 {
    font-weight: bold;
    display: inline-block;
    float: left;
}
.project-control h3 {
    font-weight: bold;
    display: inline-block;
    float: left;
}

.action-button-group {
    display: inline-block;
    float: right;
    vertical-align: center;
}

.details-img {
    display: inline-block;
    float: left;
    height: 150px;
    width: 150px;
    object-fit:cover;
    border-radius: 16px;
    overflow: hidden
}

.details-right {
    display: inline-block;
    float: left;
    padding-left: 50px;
    width: 80%;
}