.postcard {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 350px;
    border-radius: 75px;
    overflow: hidden;
    border: 2px solid #26567b;
    display: inline-block;
    vertical-align: top;
    background-color: #26567b;
    text-align: center;
}

.contenttop {
    float: left;
    height: 200px;
    overflow: hidden;
}

.contentbottom {
    width: 100%;
    height: 150px;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 15px;
    overflow: hidden;
    background-color: #FFFFFF;
    text-align: center;
}

.contentbottom h6 {
    font-size: medium;
    font-weight: bold;
}

.text {
    display: block;
    text-align: left;
}

.paragraph {
    height: 100px;
    overflow: scroll;
    margin-left: 10px;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    padding-bottom: 25px;
    text-align: left;
}

.imagegroup {
    display: block;
    border-top: 4px solid #26567b;
    max-height: 600px;
    overflow: scroll;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #3574a4;
    text-align: center;
}

.projectimage{
    width: 95%;
    border-radius: 8px;
    overflow: hidden;
    margin: 2px;
    border: 2px solid #26567b;
}

div.headertitle {
    text-align: center;
    height: 30px;
    max-height: 30px;
    background-color: #26567b;
    width: 100%;
    overflow: hidden;
    margin-top: 3px;
}

h6.headertitle {
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
}

.expandbar {
    height: 30px;
    max-height: 30px;
    background-color: #26567b;
    display: inline-block;
    width: 100%;
    vertical-align: center;
    text-align: center;
    overflow: hidden;
    color: #FFFFFF;
}

.smallimg{
    height: 25px;
    width: 25px;
    border-radius: 2px;
    overflow: hidden;
    margin: 2px;
    margin-top: 3px;
}

.stamp {
    width: 400px;
}

img.profilePicSm {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 6px;
    display: inline-block;
    margin-right: 5px;
}

img.large {
    max-height: 500px;
    border-radius: 12px;
    overflow: scroll;
    max-width: 100%;
}

.modalnav {
    display: inline-block;
    font-weight: bolder;
    color: #26567b;
    border: 2px solid #26567b;
    background-color: #FFFFFF;
    opacity: 60%;
    border-radius: 8px;
    font-size: x-large;
    padding: 5px;
    width: 10%;
    z-index: 40;
}