.postcard {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 350px;
    align-items: center;
    align-self: center;
    align-content: center;
    alignment: center;
    border-radius: 75px;
    overflow: hidden;
    border: 2px solid #26567b;
    display: inline-block;
    vertical-align: top;
    background-color: #26567b;
    text-align: left;
}

.contenttop {
    width: 400px;
    float: left;
    display: inline-block;
    height: 200px;
    overflow: hidden;
}
.contentbottom {
    width: 100%;
    float: left;
    overflow: hidden;
    display: inline-block;
    height: 150px;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 15px;
    overflow: hidden;
    background-color: #FFFFFF;

}
.text {
    display: block;
}

.paragraph {
    height: 100px;
    overflow: scroll;
    margin-left: 10px;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    padding-bottom: 25px;
}

.imagegroup {
    display: block;
    border-top: 4px solid #26567b;
    max-height: 300px;
    overflow: scroll;
    width: 100%;
    margin-right: 20px;
    padding-bottom: 20px;
    background-color: #3574a4;
}

.projectimage{
    width: 48%;
    border-radius: 8px;
    overflow: hidden;
    margin: 2px;
    border: 2px solid #26567b;
}

div.headertitle {
    text-align: center;
    height: 30px;
    max-height: 30px;
    background-color: #26567b;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

h6.headertitle {
    color: #FFFFFF;
}

.expandbar {
    height: 30px;
    max-height: 30px;
    background-color: #26567b;
    display: inline-block;
    width: 100%;
    vertical-align: center;
    text-align: center;
    overflow: hidden;
    color: #FFFFFF;
}

.smallimg{
    height: 25px;
    border-radius: 2px;
    overflow: hidden;
    margin: 2px;
    margin-top: 3px;
}

.stamp {
    width: 400px;
}