.project-control label {
    color: #f3b8b8;
    font-weight: bold;
    color: black;
    padding-bottom: 0px;
}

.project-control h2 {
    font-weight: bold;
    display: inline-block;
    float: left;
}

.action-button-group {
    display: inline-block;
    float: right;
    vertical-align: center;
}