.wb-form-control {

}

button.cancel {
    background-color: white;
    color: black;
    border: 2px solid #26567b;
}

button {
    background-color: #26567b;
    color: white;
    padding: 5px;
    border: 2px solid #26567b;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

button.fullwidth {
    width: 99%;
}

button.halfwidth {
    max-width: 48%;
    width: 48%;
}

.wb-form-control button.confirm {
    background-color: #f33e3e;
    border: 2px solid #26567b;
}


button.inactive {
    padding: 5px;
    background-color: #96989a;
    color: #e7e5e5;
    margin-right: 4px;
    border-radius: 8px;
}

.content input {
    display: block;
    width: 90%;
    margin-bottom: 8px;
    font-weight: bolder;
}
.wb-form-control textarea {
    display: block;
    width: 90%;
    margin-bottom: 8px;
}

.wb-form-control label.narrow {
    margin-bottom: 1px;
    width: 15%;
}

.wb-form-control p.note {
    font-size: small;
    color: #888b8b;
}

header {
    background-color: #26567b;
    width: 100%;
    vertical-align: middle;
    overflow: auto;
    position: fixed;
    top: 0;
    text-align: center;
    color: white;
}

header h6 {
    display: inline-block;
    padding-left: 15px;
}

header form {
    display: inline-block;
    padding-right: 15px;
    float: right;
    vertical-align: center;
}

img.profile-pic {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 12px;
    display: inline-block;
}

img.profilePicSm {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 6px;
    display: inline-block;
    margin-right: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 15px;
    background-color: #26567b;
    width: 100%;
    text-align: center;
    color: white;
    overflow: auto;
}

footer h6 {
    display: block;
    margin: auto;
    font-weight: normal;
}

main {
    width: 98%;
    margin: auto;
    position: relative;
    margin-bottom: 5px;
    padding-top: 10px;
}

main .day {
    margin: 0px;
    padding: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

main header {
    display: inline-block;
    background-color: #f5f3f3;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-style: solid;
    border-color: #ced2d7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-width: thin;
}

main header.day {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

main header h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
}

div.center {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

h5.title {
    border-radius: 8px;
    border: 2px solid #26567b;
    text-align: center;
    margin-left: 5px;
    margin-top: 20px;
    padding:5px;
    width: 50%;
}

main header form {
    margin-right: 5px;
    display: inline-block;
    float: right;
}

main .content {
    width: 100%;
    padding-bottom: 5px;
    border-style: solid;
    border-top: none;
    border-color: #ced2d7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: thin;
    padding-left: 5px;
    overflow: auto;
}

main .content label {
    font-weight: bold;
}

main .content label.active {
    padding: 5px;
    background-color: #26567b;
    color: white;
    margin-right: 4px;
    border-radius: 8px;
}
main .content label.inactive {
    padding: 5px;
    background-color: #96989a;
    color: #d4d2d2;
    margin-right: 4px;
    border-radius: 8px;
}


main .content img {
    margin-top: 10px;
    display: inline-block;
    float: left;
    height: 150px;
    width: 150px;
    object-fit:cover;
    border-radius: 16px;
    overflow: hidden
}


.project-details {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 5px;
}

.project-details label {
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.project-details p {
    display: inline-block;
}












.left-item {
    display: inline-block;
    padding-left: 20px;
    width: 33%;
    float: left;
    color: white;
    position: relative;
    text-align: left;
    top: 10%;
}

.right-item {
    display: inline-block;
    width: 66%;
    float: right;
    color: white;
    text-align: right;
    position: relative;
    top: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
    padding-top: 15px;
    vertical-align: middle;
}

.fullspinner {
    font-size: 6em;
    color: #26567b;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #26567b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #26567b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.wb-form-control input[type="file"] {
    display: none;
}

.addphoto {
    display: inline-block;
    textAlign: center;
    backgroundColor: #26567b;
}

.inputfile + label {
    margin-top: 2px;
    height: 50px;
    object-fit:cover;
}

main .content i.showcase {
    font-size: 8em;
    margin-top: 0px;
    height: 100px;
    width: 150px;
    color: #ffffff;
}


.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.logoblock {
    background-color: #26567b;
    border: none;
    color: white;
    padding: 5px 10px;
    border: 2px solid #26567b;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 5px;
}

.center {
    text-align: center;
}

.right {
    width: auto;
    text-align: right;
    display: inline-block;
}

input.summary {
    font-weight: bolder;
    font-size: 1.25em;
    width: 80%;
    border-color: #888b8b;
    border-width: thin;
    display: inline-block;
}

label.summary {
    font-weight: bolder;
    font-size: 1.25em;
    width: 80%;
    border-color: #888b8b;
    border-width: thin;
    display: inline-block;
}
